@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

html {
    min-width: 300px;
    min-height: 200px;
    overflow: scroll;
    width: 100%;
    margin: auto;
    padding: 20px;
}

body {
    background-color: #072a41;
}

.text {
    font-size: 14px;
    color: white;
    font-family: 'Exo', sans-serif;
}

.heading {
    font-size: 20px;
    color: white;
    font-family: 'Exo', sans-serif;
}

#sitelist {
    width: 100%;
    white-space: nowrap;
}

.link {
    font-size: 14px;
    margin: auto;
    clear: right;
    padding: 5px;
    display: flex;
}

.material-icons {
    color: #ffffff;
    cursor: pointer;
    float: left;
    margin-right: 8px;
}

.material-icons:hover {
    color: red;
}
