@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.ban-allow {
    display: inline-flex;
    width: 90%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0;
}

.other-buttons {
    width: 105%;
}

.betta {
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 30px;
    margin: 0 0 10px 0;
    padding: 0;
}

.container {
    align-content: center;
    align-items: center;
    display: block;
    margin-left: 10%;
}

button {
    width: 80%;
    left: 10%;
    background-color: #144456;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 8px;
    border-radius: 8px;
    font-family: 'Exo', sans-serif;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #0f8186;
}

body {
    height: 400px;
    width: 300px;
    background-color: #072a41;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 15px;
}

.logo {
    position: relative;
    left: calc(50% - 64px);
}

.header {
    padding: 0;
    margin: 0;
}

.skillBarContainer {
    width: 80%;
    background-color: #ddd;
}

.fishHealth {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    width: 90%;
    background-color: #4CAF50;
} /* Green */