*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    scroll-behavior:smooth;
    min-height: 100vh;
    align-items: center;
    background-image: linear-gradient(#cae6f6, #377ba8);
}
.about-section{
    box-sizing: border-box;
    background-size: 100%;
    overflow: hidden;
    padding: 100px;
    margin-left: 150px;
}
.inner-container{
    width: 45%;
    float: right;
    background-color: #cae6f6;
    padding: 60px;
    margin-right: 150px;
    border-radius: 3%;
}
.inner-container h1{
    font-size: 45px;
    font-weight:900;
    color: #545454;
}
.inner-container .border{
    display: block;
    margin-left: 0px;
    width: 300px;
    background: #545454;
    margin-bottom: 35px;
    margin-top: 7px;
}
.text{
    font-size: 25px;
    color: #545454;
    text-align: justify;
    margin-bottom: 40px;
}


