@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400");

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #144456;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-family: 'Exo', sans-serif;
  text-align: right;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #88b7ca;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  position: fixed;
  right: 0;
  z-index: 3;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/* Spin */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


/*  hamburger section over */

body {
  background-color: #072a41;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

button:focus {
  outline: 0;
}

.logo {
  position: fixed;
  height: 50px;
  width: 50px;
  z-index: 2;
  padding: 10px;
}

h1 {
  position: fixed;
  font-family: 'Exo', sans-serif;
  color: white;
  left: 60px;
  padding: 15px 10px;
  margin: 0;
}

/* navbar css starts here */

#navbar {
  background-color: #072a41; /* background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  height: 65px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* parallax scrolling effect */

.parallax {
  /* The image used */
  background-image: url('https://i.pinimg.com/originals/dd/4c/84/dd4c846ba28d3101fef3afd6aafd145d.png');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  /* uncomment below for scroll snap */
  /*overflow-y: scroll;*/
  scroll-snap-type: y mandatory;
  height: 100%;
}

.child {
  scroll-snap-align: start;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  background-color: #072a41;
  z-index: 1;
}

/* scroll down arrow */

.child h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #082a42;
  font-size: 75px;
  text-align: center;
  white-space: nowrap;
}

#arrow01 a, #arrow02 a, #arrow03 a {
  padding-top: 60px;
}

#arrow01 a span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

#arrow02 a span {
  position: absolute;
  bottom: calc(-100% + 80px);
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

#arrow03 a span {
  position: absolute;
  bottom: calc(-200% + 80px);
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-animation: sdb03 2s infinite;
  animation: sdb03 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* upwards arrow */

@-webkit-keyframes sdb03 {
  0% {
    -webkit-transform: rotate(135deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(135deg) translate(10px, -10px);
  }
  40% {
    -webkit-transform: rotate(135deg) translate(0, 0);
  }
}
@keyframes sdb03 {
  0% {
    transform: rotate(135deg) translate(0, 0);
  }
  20% {
    transform: rotate(135deg) translate(10px, -10px);
  }
  40% {
    transform: rotate(135deg) translate(0, 0);
  }
}

/* css for the "about" section */

.about-section {
    box-sizing: border-box;
    background-size: 100%;
}
.inner-container {
    width: 40%;
    min-height: 40%;
    float: right;
    background-color: #cae6f6;
    padding: 50px;
    margin-right: calc(30% - 300px);
    border-radius: 3%;
    position: absolute;
    right: 50px;
    z-index: 1;
}
.inner-container h1 {
    font-size: 45px;
    font-weight:900;
    color: #545454;
    position: relative;
    top: 25px;
}
.inner-container .border {
    display: block;
    margin-left: 0;
    width: 300px;
    background: #545454;
    margin-bottom: 35px;
    margin-top: 7px;
}
.text {
    font-size: 25px;
    color: #545454;
    text-align: justify;
    margin: 0;
    position: relative;
    font-family: 'Exo', sans-serif;
}

.betta-image {
  position: absolute;
  margin-left: calc(30% - 300px);
  height: 90%;
}

/* Team Start Here */
.team-section{
    margin-top: 25px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
}
.team-section h1{
    position: relative;
    color: #082a42;
    font-size: 45px;
    margin-bottom: 0;
    top: 5%;
}
.ps{
    margin-bottom: 5px;
    display: inline-flex;
    background-color: rgba(8, 27, 34, 0.6);
    border-radius: 10px;
    padding: 60px;
}
.ps img{
    height:200px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 20px;
}
.section{
    width: 100%;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-family: 'Exo', sans-serif;
}

/* install button */
.install {
  background-color: #072a41;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  position: relative;
  margin: auto;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  border-radius: 25px;
}

.install:hover {
  background-color: #144456;
}

.install:focus {
  outline: none;
}
