<!--<section id="section04"><a href="#intro"><span></span></a></section>-->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betta - About</title>
    <link rel="stylesheet" href="../static/css/about.css" />
</head>
<body>
<div class="about-section" style="background: url('../static/real logo.png') no-repeat left;">
    <div class="inner-container">
        <h1>About Betta</h1>
        <span class="border"></span>
        <p class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris risus arcu, accumsan a ultrices nec, sodales quis felis. Ut pellentesque dapibus facilisis. Nam eleifend vitae orci id iaculis. Sed magna nisi, convallis a justo a, malesuada sollicitudin sem. Fusce facilisis blandit enim ac scelerisque. Maecenas ut porta nunc, in sodales lectus. Aliquam erat volutpat. Sed id enim ac ante dignissim mollis in sit amet massa.
        </p>
    </div>
</div>
</body>
</html>
