<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betta</title>
    <link rel="icon" href="../static/betta%20logo.png" type="image/png">
    <link rel="stylesheet" href="../static/css/index.css"/>
    <script src="../static/js/index.js"></script>
</head>

<header>
    <!-- logo image -->
    <img class="logo" src="../static/betta%20logo.png" alt="betta logo">
    <!-- page header -->
    <h1>Betta</h1>
    <!-- hamburger menu button -->
    <button class="hamburger hamburger--spin" type="button" onclick="clickHamburger()">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <!-- side navbar -->
    <div id="mySidenav" class="sidenav">
      <br>
      <a href="../">Home</a>
      <a href="about">About</a>
      <a href="#">...</a>
      <a href="#">...</a>
    </div>

</header>

<body>

</body>
</html>
