<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betta</title>
    <link rel="icon" href="../static/betta%20logo.png" type="image/png">
    <link rel="stylesheet" href="../static/css/index.css"/>
    <script src="../static/js/index.js"></script>
</head>

<header>
    <div id="navbar">
        <!-- logo image -->
        <img class="logo" src="../static/betta%20logo.png" alt="betta logo">
        <!-- page header -->
        <h1>Betta</h1>
        <!-- hamburger menu button -->
        <button class="hamburger hamburger--spin" type="button" onclick="clickHamburger()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <!-- side navbar -->
        <div id="mySidenav" class="sidenav">
          <br>
          <a href="../">Home</a>
          <a href="#about">About</a>
          <a href="#ourteam">Our Team</a>
        </div>
    </div>

</header>

<body>

    <div class="container">
        <div class="parallax child" id="#">
            <h1>Betta</h1>
            <button class="install" onclick="parent.open('https://github.com/GcWan/betta')">Install</button>
            <section id="arrow01"><a href="#about"><span></span></a></section>
        </div>
        <div class="child" style="height:100%;background-color:#072a41" id="about">
            <img class="betta-image" src="../static/real%20logo.png" alt="betta image">
            <div class="inner-container">
                <h1>What is Betta?</h1>
                <p class="text">
                    Betta is a Google Chrome extension that aims to improve its users' focus.
                    Users are responsible for their virtual pet bettas, and must stay focused
                    to keep their fish alive. Visiting "banned" websites cause fish to decrease
                    in health, so make sure to stay on task!
                </p>
            </div>
            <section id="arrow02"><a href="#ourteam"><span></span></a></section>
        </div>
        <div class="parallax child" id="ourteam">
            <div class="team-section">
                <h1>Our Team</h1>
                <div class="ps">
                    <div class="box">
                        <img src="../static/Brian.png" alt="">
                        <div class="section">
                            <p>Brian Zhang</p>
                        </div>
                    </div>

                    <div class="box">
                        <img src="../static/George.png" alt="">
                        <div class="section">
                            <p>George Wan</p>
                        </div>
                    </div>

                    <div class="box">
                        <img src="../static/Nancy.png" alt="">
                        <div class="section">
                            <p>Nanxin Qin</p>
                        </div>
                    </div>

                    <div class="box">
                        <img src="../static/Ratana.png" alt="">
                        <div class="section">
                            <p>Ratana Wang</p>
                        </div>
                    </div>
                </div>
            </div>
            <section id="arrow03"><a href="#"><span></span></a></section>
        </div>
    </div>

</body>
</html>
