<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/team.css" />
</head>
<body>

<div class="team-section">
    <h1>Our Team</h1>
    <div class="ps">
        <div class="box">
            <img src="../static/Brian.png" alt="">
            <div class="section">
                <span class="name">Brian Zhang</span>
            </div>
        </div>

        <div class="box">
            <img src="../static/George.png" alt="">
            <div class="section">
                <span class="name">George Wan</span>
            </div>
        </div>

        <div class="box">
            <img src="../static/Nancy.png" alt="">
            <div class="section">
                <span class="name">Nanxin Qin</span>
            </div>
        </div>

        <div class="box">
            <img src="../static/Ratana.png" alt="">
            <div class="section">
                <span class="name">Ratana Wang</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>